body {
  margin:0;
  background: linear-gradient(to right,yellow 50%,green 50%);
}

.main {
  height:auto;
  width: auto;
}

/*#background-left {
  background-color:#005555;
  position: relative;
  float:left;
  width: 50%;
  height:100%;
}

#background-right{
  background-color:#abab00;
  position:relative;
  float:right;
  width:50%;
  height: 100%;
}*/
img {
  max-width: 100%;
  max-height: 100%;
}
p {
  padding:0px;
}
#big-img {
  position: relative;;
  width: 50%;
  height:75%;
  margin-left: 25%;
  margin-right: 25%;
  text-align: center;
  color:#a9a9a9;

}
